<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\footer.css">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <header>

    </header>

    <main>
        
    </main>

    <footer>
        <div class="home_main_container">

            <div class="home_first">

                <div class="footer1">
                    <h3>Contact information</h3>
                    <h4>Email: <a id="footer_email" href="#">group_a@gmail.com</a></h4>
                    <h4>Phone: +2347049587345</h4>
                    <h4>Address: Veritas University Abuja</h4>
                    <h4>Contact Form: ------------</h4>          
                </div>
                            
                            
                <div class="footer2">
                    <h3>Brief bio or mission statement</h3>
                    <p>
                        <i>
                            <b>Our Mission:</b> Our portfolio web app aims to provide an easy and intuitive <br>
                            platform for users to showcase their work and accomplishments. <br>
   
                           <b>Bio:</b> Our portfolio web app is designed to help professionals, <br>
                            artists, and students to create a visually appealing, easy to navigate <br>
                             and well-organized online portfolio to showcase their work and achievements. <br>
                              The app provides a wide range of customizable templates, a user-friendly interface, <br>
                               and an extensive media library, allowing users to create a portfolio that reflects <br>
                                their unique style and brand. Whether you're a designer, developer, photographer, <br>
                                 or writer, our portfolio web app can help you to build a portfolio that stands out <br>
                                  and helps you to achieve your professional goals.
                        </i>
                    </p>
                </div>
                            
                            
                <div class="footer3">
                    <h3 >Links To Other Pages</h3>
                    <h4><a id="about_me" href="#">About Me</a></h4>
                    <h4><a id="projects" href="#">Projects</a></h4>
                    <h4><a id="blogs" href="#">Blog</a></h4>
                    <h4><a id="services" href="#">Services</a></h4>
                    <h4><a id="more" href="#">More...</a></h4>
                    <p></p>
                </div>


            </div>

            <div class="homme_second">
                
                <div class="social_links">

                    <h3>Social Media Links:</h3>

                    <span class="my_span3">
                        <img src="static\image\facebook.png" alt="facebook">
                    </span>
                    
                    <span class="my_span3">
                        <img src="static\image\instagram.png" alt="instagram">
                    </span>
                    
                    <span class="my_span3">
                        <img src="static\image\twiter.png" alt="twiter">
                    </span>

                    <span class="my_span3">
                        <img src="static\image\youtube.png" alt="Youtube">
                    </span>

                    <span class="my_span3">
                        <img src="static\image\telegram.png" alt="Telegram">
                    </span>

                </div>

                <div class="legal_infos">
                    <h4>Legal Informations: <a id="legal_info1" href="#">Disclaimer,</a> <a id="legal_info2" href="#">Privacy Policy,</a> <a id="legal_info2" href="#">Terms of Service and a copyright notice</a></h4>
                </div>

            </div>
            
        </div>
    </footer>
    {% endblock %}
</body>
</html>